<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <title>
      Webアプリアイコン作成ツール
    </title>
    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/jquery.mobile/1.1.1/jquery.mobile-1.1.1.min.css" />
    <link rel="stylesheet" href="[% static_file('/static/css/main.css') %]" />
    <link rel="stylesheet" href="[% static_file('/static/css/app.css') %]" />
    <style>
      /* App custom styles */
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js">
    </script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.mobile/1.1.1/jquery.mobile-1.1.1.min.js">
    </script>
    <script src="[% static_file('/static/js/main.js') %]">
    </script>
    <script src="[% static_file('/static/js/app.js') %]">
    </script>
  </head>
  <body>
    [% content %]
    <script>
      //App custom javascript
    </script>

    <!-- Start of Woopra Code -->
    <script type="text/javascript">
    function woopraReady(tracker) {
        tracker.setDomain('waim.remora.cx');
        tracker.setIdleTimeout(300000);
        tracker.trackPageview({type:'pageview',url:window.location.pathname+window.location.search,title:document.title});
        return false;
    }
    (function() {
        var wsc = document.createElement('script');
        wsc.src = document.location.protocol+'//static.woopra.com/js/woopra.js';
        wsc.type = 'text/javascript';
        wsc.async = true;
        var ssc = document.getElementsByTagName('script')[0];
        ssc.parentNode.insertBefore(wsc, ssc);
    })();
    </script>
    <!-- End of Woopra Code -->

  </body>
</html>
