<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <title>
      Webアプリアイコン作成ツール
    </title>
    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/jquery.mobile/1.1.1/jquery.mobile-1.1.1.min.css" />
    <link rel="stylesheet" href="[% static_file('/static/css/main.css') %]" />
    <link rel="stylesheet" href="[% static_file('/static/css/app.css') %]" />
    <style>
      /* App custom styles */
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js">
    </script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.mobile/1.1.1/jquery.mobile-1.1.1.min.js">
    </script>
    <script src="[% static_file('/static/js/main.js') %]">
    </script>
    <script src="[% static_file('/static/js/app.js') %]">
    </script>
  </head>
  <body>
    [% content %]
    <script>
      //App custom javascript
    </script>
  </body>
</html>
